<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  https://axelor.com/xml/ns/object-views/object-views_8.1.xsd">

  <action-view name="action-currency-rate-list"
    title="Курсы валют"
    model="com.axelor.contact.db.CurrencyRate">
    <view type="grid" name="currency-rate-grid"/>
    <view type="form" name="currency-rate-form"/>
  </action-view>

  <action-method name="action-currency-rate-fetch">
    <call class="com.axelor.contact.web.CurrencyRateController"
          method="fetchRates"/>
  </action-method>

  <menuitem name="menu-currency-rate-root"
    title="Курсы валют"
    icon="fa-money"
    order="100"/>

  <menuitem name="menu-currency-rate-list"
    title="Список курсов"
    parent="menu-currency-rate-root"
    action="action-currency-rate-list"
    order="10"/>

  <menuitem name="menu-currency-rate-update"
    title="Обновить курсы вручную"
    parent="menu-currency-rate-root"
    action="action-currency-rate-fetch"
    order="20"/>

</object-views>
